#footer
    .container
        .row
            .col-md-4
                nav.footer-nav
                    ul.list-unstyled
                        li.list-title
                            | Publishers
                        li
                            a(href='/publishers/terms-of-use') Terms of use
                        li
                            a(href='/terms-of-service') Terms of service


            .col-md-4
                nav.footer-nav
                    ul.list-unstyled
                        li.list-title
                            | Advertisers
                        li
                            a(href='/advertisers/terms-of-use') Terms of use
                        li
                            a(href='/terms-of-service') Terms of service

            .col-md-4
                nav.footer-nav
                    ul.list-unstyled
                        li
                            a(href="#sign-up-modal", data-toggle='modal') Sign up
                        li
                            a(href='/privacy') Privacy
                        li
                            a(href='http://rationetwork.co.uk', target="_blank") Ratio network
