extends ../layouts/layout

block content
    .container
        .row
            .col-md-12
                h1.page-header About Us
            .col-md-9

                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores minima sit, placeat obcaecati veniam iusto. Saepe, nobis iste quam. Fuga nulla recusandae ratione excepturi consectetur officiis facilis illo blanditiis, ea?
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores minima sit, placeat obcaecati veniam iusto. Saepe, nobis iste quam. Fuga nulla recusandae ratione excepturi consectetur officiis facilis illo blanditiis, ea?
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores minima sit, placeat obcaecati veniam iusto. Saepe, nobis iste quam. Fuga nulla recusandae ratione excepturi consectetur officiis facilis illo blanditiis, ea?
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores minima sit, placeat obcaecati veniam iusto. Saepe, nobis iste quam. Fuga nulla recusandae ratione excepturi consectetur officiis facilis illo blanditiis, ea?
                h2 header 2
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores minima sit, placeat obcaecati veniam iusto. Saepe, nobis iste quam. Fuga nulla recusandae ratione excepturi consectetur officiis facilis illo blanditiis, ea?
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores minima sit, placeat obcaecati veniam iusto. Saepe, nobis iste quam. Fuga nulla recusandae ratione excepturi consectetur officiis facilis illo blanditiis, ea?
            .col-md-3
                .thumbnail
                    img.img-responsive(src="http://placehold.it/500x500")
                    .caption
                        h3  Lorem ipsum dolor sit amet
                        p consectetur adipisicing elit. Velit laudantium, iusto tempore error minus sequi distinctio ipsum.
                        button.btn.btn-primary button
