extends ../layouts/layout

block content

    .container
        .row 
          .col-md-12
              h1.page-header FAQs
              p.lead  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, fugit delectus soluta molestias, expedita deserunt labore animi accusamus dolores ipsam, corrupti officia impedit quae! Ab eum nihil error, hic. Doloribus!
              
              #accordion.panel-group
                  .panel.panel-default
                    .panel-heading
                      h4.panel-title
                        a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#collapse-1')
                          | Question 1
                    #collapse-1.panel-collapse.collapse.in
                      .panel-body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium similique repellendus recusandae repudiandae consectetur praesentium ullam vel doloribus iure fugit laudantium omnis, rerum. Numquam necessitatibus ipsum voluptatem dicta dignissimos nobis.
                  .panel.panel-default
                    .panel-heading
                      h4.panel-title
                        a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#collapse-2')
                          | Question 2
                    #collapse-2.panel-collapse.collapse
                      .panel-body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur numquam corrupti qui dignissimos officia, excepturi soluta explicabo et porro suscipit, eveniet, architecto nesciunt molestias eius, dolor est aut sapiente odit.
                  .panel.panel-default
                      .panel-heading
                        h4.panel-title
                          a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#collapse-3')
                            | Question 3
                      #collapse-3.panel-collapse.collapse
                        .panel-body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur numquam corrupti qui dignissimos officia, excepturi soluta explicabo et porro suscipit, eveniet, architecto nesciunt molestias eius, dolor est aut sapiente odit.
                   .panel.panel-default
                       .panel-heading
                         h4.panel-title
                           a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#collapse-4')
                             | Question 4
                       #collapse-4.panel-collapse.collapse
                         .panel-body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur numquam corrupti qui dignissimos officia, excepturi soluta explicabo et porro suscipit, eveniet, architecto nesciunt molestias eius, dolor est aut sapiente odit.
                    .panel.panel-default
                        .panel-heading
                          h4.panel-title
                            a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#collapse-5')
                              | Question 5
                        #collapse-5.panel-collapse.collapse
                          .panel-body  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur numquam corrupti qui dignissimos officia, excepturi soluta explicabo et porro suscipit, eveniet, architecto nesciunt molestias eius, dolor est aut sapiente odit.
              
