extends ../layouts/layout

block content
    .container
        .row 
            .col-md-12
                h1.page-header Features
    .container
      .row
          .col-md-6
              h2 sub title 1
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit cumque nihil optio tenetur repudiandae recusandae quas vero, illo facere, nostrum rerum eum asperiores fugiat odio ea quasi aspernatur esse mollitia.
          .col-md-6
              h2 sub title 2
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit cumque nihil optio tenetur repudiandae recusandae quas vero, illo facere, nostrum rerum eum asperiores fugiat odio ea quasi aspernatur esse mollitia.
      .row 
        .col-md-3   
            img.img-responsive(src="http://placehold.it/500x500")
            .caption
                h3 Feature one
                p consectetur adipisicing elit. Velit laudantium, iusto tempore error minus sequi distinctio ipsum.
                button.btn.btn-primary button
        .col-md-3   
            img.img-responsive(src="http://placehold.it/500x500")
            .caption
                h3 Feature two
                p consectetur adipisicing elit. Velit laudantium, iusto tempore error minus sequi distinctio ipsum.
                button.btn.btn-primary button
        .col-md-3   
            img.img-responsive(src="http://placehold.it/500x500")
            .caption
                h3 Feature three
                p consectetur adipisicing elit. Velit laudantium, iusto tempore error minus sequi distinctio ipsum.
                button.btn.btn-primary button
        .col-md-3   
            img.img-responsive(src="http://placehold.it/500x500")
            .caption
                h3 Feature four
                p consectetur adipisicing elit. Velit laudantium, iusto tempore error minus sequi distinctio ipsum.
                button.btn.btn-primary button
