extends ../layouts/layout

block content
    .container
        .row 
            .col-md-12
                h1.page-header Our Services
                p.lead  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel corrupti asperiores alias, veritatis harum sed laborum assumenda dicta, porro reprehenderit nobis molestias, obcaecati. Deserunt repellendus, sunt. Facere tempora reiciendis aliquam.
    .container
      .row 
        .col-md-12
            h2 subheader
        .col-md-4
            .row
                .col-md-4
                    img.img-responsive(src="http://placehold.it/500x500")
                .col-md-8
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos iusto sunt, nulla, qui perspiciatis impedit repellat quasi similique.
                    button.btn.btn-info read more

        .col-md-4
            .row
                .col-md-4
                    img.img-responsive(src="http://placehold.it/500x500")
                .col-md-8
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos iusto sunt, nulla, qui perspiciatis impedit repellat quasi similique.
                    button.btn.btn-info read more
        
        .col-md-4
            .row
                .col-md-4
                    img.img-responsive(src="http://placehold.it/500x500")
                .col-md-8
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos iusto sunt, nulla, qui perspiciatis impedit repellat quasi similique.
                    button.btn.btn-info read more

      
      .row 
        .col-md-4
            .row
                .col-md-4
                    img.img-responsive(src="http://placehold.it/500x500")
                .col-md-8
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos iusto sunt, nulla, qui perspiciatis impedit repellat quasi similique.
                    button.btn.btn-info read more

        .col-md-4
            .row
                .col-md-4
                    img.img-responsive(src="http://placehold.it/500x500")
                .col-md-8
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos iusto sunt, nulla, qui perspiciatis impedit repellat quasi similique.
                    button.btn.btn-info read more
        
        .col-md-4
            .row
                .col-md-4
                    img.img-responsive(src="http://placehold.it/500x500")
                .col-md-8
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos iusto sunt, nulla, qui perspiciatis impedit repellat quasi similique.
                    button.btn.btn-info read more
