extends ../layouts/layout

block content
    .container
        .row 
            .col-md-12
                h1.page-header Team
                p.lead  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut aliquid veniam dolorum laboriosam commodi, velit fugiat vitae animi et atque iure perferendis qui corporis quasi doloribus perspiciatis quod accusantium debitis.
    .container
      .row 
        .col-md-3     
            img.img-responsive(src="http://placehold.it/500x500")
            h3 Bob Hope
            h4 Job title
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur quas quos nesciunt soluta odio illo magnam vitae.
        .col-md-3     
            img.img-responsive(src="http://placehold.it/500x500")
            h3 Bob Hope
            h4 Job title
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur quas quos nesciunt soluta odio illo magnam vitae.
        .col-md-3     
            img.img-responsive(src="http://placehold.it/500x500")
            h3 Bob Hope
            h4 Job title
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur quas quos nesciunt soluta odio illo magnam vitae.
        .col-md-3     
            img.img-responsive(src="http://placehold.it/500x500")
            h3 Bob Hope
            h4 Job title
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur quas quos nesciunt soluta odio illo magnam vitae.
        .col-md-3     
            img.img-responsive(src="http://placehold.it/500x500")
            h3 Bob Hope
            h4 Job title
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur quas quos nesciunt soluta odio illo magnam vitae.
        .col-md-3     
            img.img-responsive(src="http://placehold.it/500x500")
            h3 Bob Hope
            h4 Job title
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur quas quos nesciunt soluta odio illo magnam vitae.
        .col-md-3     
            img.img-responsive(src="http://placehold.it/500x500")
            h3 Bob Hope
            h4 Job title
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur quas quos nesciunt soluta odio illo magnam vitae.
        .col-md-3     
            img.img-responsive(src="http://placehold.it/500x500")
            h3 Bob Hope
            h4 Job title
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur quas quos nesciunt soluta odio illo magnam vitae.
