extends ../layouts/layout

block content
    .container
        .row 
            .col-md-12
                h1.page-header Quotes from happy people
                p.lead  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab fuga ducimus neque fugiat ipsa perferendis, labore provident quidem velit laudantium, expedita aut, vitae et dolores distinctio maxime officiis? Ullam, saepe.
    .container
      .row 
        .col-md-12      
            blockquote
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores minima sit, placeat obcaecati veniam iusto. Saepe, nobis iste quam. Fuga nulla recusandae ratione excepturi consectetur officiis facilis illo blanditiis, ea?
                footer Mr Joe B Loggs
            
            blockquote.blockquote-reverse
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores minima sit, placeat obcaecati veniam iusto. Saepe, nobis iste quam. Fuga nulla recusandae ratione excepturi consectetur officiis facilis illo blanditiis, ea?
                footer Mr Joe B Loggs
            
            blockquote
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores minima sit, placeat obcaecati veniam iusto. Saepe, nobis iste quam. Fuga nulla recusandae ratione excepturi consectetur officiis facilis illo blanditiis, ea?
                footer Mr Joe B Loggs
            
            blockquote.blockquote-reverse
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores minima sit, placeat obcaecati veniam iusto. Saepe, nobis iste quam. Fuga nulla recusandae ratione excepturi consectetur officiis facilis illo blanditiis, ea?
                footer Mr Joe B Loggs
