.navbar.navbar-default.navbar-static-top
    .container
        .navbar-header
          button.navbar-toggle(data-toggle='collapse', data-target='#navbar-collapse', type='button')
            span.icon-bar
            |             
            span.icon-bar
            |             
            span.icon-bar
          |           
          a.navbar-brand(href='./index.html') Theme starter  
        #navbar-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown', href='./index.html') Home pages
                b.caret           
              ul.dropdown-menu
                li
                  a(href='./index-business.html') Business                 
                li
                  a(href='./index-agency.html') Agency
             li.dropdown
               a.dropdown-toggle(data-toggle='dropdown', href='#') Other pages
                 b.caret
               ul.dropdown-menu
                    li 
                        a(href="./about.html") about 
                    li 
                        a(href="./features.html") features
                    li 
                        a(href="./services.html") services
                    li 
                        a(href="./team.html") team
                    li 
                        a(href="./testimonials.html") testimonials     
                    li 
                        a(href="./faq.html") FAQ
                    li 
                        a(href="./sidebar.html") sidebar
                    li 
                        a(href="./login.html") login 
                    li 
                        a(href="./register.html") register
                    li 
                        a(href="./contact.html") contact
                li.dropdown
                  a.dropdown-toggle(data-toggle='dropdown', href='#') Blog
                    b.caret           
                  ul.dropdown-menu
                    li
                      a(href='./blog-list.html') Blog listing
                    li
                      a(href='blog-single.html') Blog single post
                 
            li
              a(href='./patterns.html') Page Elements
